<div class="container-fluid container-fluid-custom py-md-5">
    <footer class="d-flex flex-column justify-content-center align-items-center my-5">
      <a href="/" class="text-primary text-decoration-none fw-bold">
        <p>Made with <i class="bi bi-heart-fill" style="color: red;"></i> In Banda Aceh</p>
      </a>
      
      <p class="mb-0 text-muted">SimpleNotes©2023</p>
    </footer>
  </div>