<div class="container-fluid container-fluid-custom">
    <h1>Basa Basi</h1>
    <p class="fs-3">Jadi Web ini dibuat untuk bahan belajar Node.Js, EJS dan MongoDB. Masih cukup banyak kekurangan yang terdapat didalam web ini, seperti belum adanya "Flash Message" sebagai fungsi notifikasi ketika ada aksi yang dilakukan, seperti tambah catatan, hapus catatan, update catatan, dan lain sebagainya.
    Tapi terlepas dari itu, semua operasi CRUD (Create, Read, Update, Delete) sudah berfungsi dengan baik.
    Jadi, silahkan download Source Codenya untuk bahan belajar dan eksplorasi.
    </p>
</div>
